<!doctype html>
<html lang="en">
    <head>
    </head>
  <body>
    <h1>ASIN: {{{asin}}}</h1>
	{{#if query}}
	<ul>
		{{#each query}}
		<li>{{ this.key }} = {{ this.value }}</li>
		{{/each}}
	</ul>
	{{/if}}
  </body>
</html>